/* You can add global styles to this file, and also import other style files */
/* @import 'ngx-toastr/toastr'; */
/* styles.scss */

@import '~@fortawesome/fontawesome-free/css/all.css';


/* 
body.dark-mode {
  background-color: #1f1f1f;
  color: #fff;
} */

/* body{
    overflow: auto;
   } */

   